.home {
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;

  .home-content {
    background: rgba(0, 0, 0, 0.5); // Adding a dark overlay for better text visibility
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 70rem;
    height:15rem; 

    .logo-wrapper {
      margin-bottom: 20px;

      .logo {
        font-size: 3rem;
      }
    }

    .header-text {
      h1 {
        margin-bottom: 15px;
        font-size: 2.5rem;
      }

      p {
        font-size: 1.25rem;
      }
    }
  }
}
